
<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-left">
                <p class="mb-0">
                    <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.de.html" class="text-muted">
                        License: <strong>GPL-3.0</strong>
                    </a>
                </p>
            </div>
            <div class="col-6 text-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted"
                           target="_blank" href="https://github.com/gr4yj3d1/toolshed">Dev Docs</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted"
                           target="_blank" href="https://github.com/gr4yj3d1/toolshed">Sources</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

